html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: Vazirmatn, Lato, Helvetica Neue, sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}